/* CSS files add styling rules to your content */


body {
    margin: auto;
    width: 99%;
    /* border: 3px solid green; */
    padding: 10px;




    /* font-family: helvetica, arial, sans-serif; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Monaco, "Courier New", monospace;
    margin: 2em;
    
    
    background-color: rgb(40, 100, 160);
    color: rgb(248, 218, 218); 
    
    
  }
  
  h1 {
    font-style: italic;
    color: #ebd93b;
    
    font-family: verdana, arial, sans-serif; 
  }
  
  button {
    padding: 10px;
    border-radius: 10px;
  }
  
  #gameButtonArea > button {
    width:200px;
    height:200px;
    margin:2px;

    
  }

  button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }


  .hidden {
    display: none;
  }
  
  #button1 {
      background: lightgreen;
  }
  #button1:active, #button1.lit {
      background:green;
    background-image: url(https://cdn.glitch.com/167a9772-8eaf-4549-8e8d-fb75c584bbf5%2Fleaves.jpeg?v=1616455357124);


    background-size: 100%;
  }
  
  #button2 {
      background: lightblue;
  }
  #button2:active, #button2.lit {
/*       background:blue; */
    background: url(https://cdn.glitch.com/167a9772-8eaf-4549-8e8d-fb75c584bbf5%2Fblue.jpeg?v=1616455709906);
    background-size: 100%;
  }
  
  #button3 {
      background: pink;
  }
  #button3:active, #button3.lit {
/*       background:red; */
/*     background: url(https://images.unsplash.com/photo-1518893063132-36e46dbe2428?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80); */
    background: url(https://cdn.glitch.com/167a9772-8eaf-4549-8e8d-fb75c584bbf5%2Fred.jpeg?v=1616455942816);

    background-size: 100%;
  }
  
  #button4{
      background: lightyellow;
  }
  #button4:active, #button4.lit {
/*       background:yellow; */
    background: url(https://cdn.glitch.com/167a9772-8eaf-4549-8e8d-fb75c584bbf5%2Fyellow.jpeg?v=1616455939275);
    background-size: 100%;
  }
  
  #button5{
      background: mediumpurple;
  }
  #button5:active, #button5.lit {
/*       background:indigo; */
    background: url(https://cdn.glitch.com/167a9772-8eaf-4549-8e8d-fb75c584bbf5%2Fpurple.jpeg?v=1616455939321);
    background-size: 100%;
  }
  
  #button6{
      background: hotpink;
  }
  #button6:active, #button6.lit {
/*       background:deeppink; */
    background: url(https://cdn.glitch.com/167a9772-8eaf-4549-8e8d-fb75c584bbf5%2Fpink.jpeg?v=1616455706776);
    background-size: 100%;
  }
  
  #numLives{
      font-size: 40px;
      color:rgba(255, 222, 32, 0.863);
  }

  #amtTime{
    color:rgba(255, 222, 32, 0.863);
    font-size: 40px;
  }